next/next.md
site/

# Mill
out/
.mill/
mill-build/
*.mill.scala.swp
.mill-version.bak

# sbt
target/
project/plugins/project/
boot/
lib_managed/
src_managed/

# Scala CLI
.scala-build/

# vim
*.sw?

# intellij
.idea/
*.iml

# ignore [ce]tags files
tags

# metals
.metals/
.bsp/
.bloop/
metals.sbt
.vscode

# npm
node_modules/

# binary
scalanews

# Nix
result
result-*
